In [16]:
from google.colab import drive
drive.mount('/content/drive/')

Drive already mounted at /content/drive/; to attempt to forcibly remount, call drive.mount("/content/drive/", force_remount=True).

In [38]:
import os
os.chdir('/content/drive/My Drive')

In [47]:
!ls

'ACD Problem Solving_Section D_ECE 3rd sem'
 cached
'Chandler Bing Script.txt'
'Getting started.pdf'
'II PUC computer science.pdf'
 Ironman_script.txt
 kaggle
 model_train_upload_workflow.ipynb
'newolf reserach lab, from half time'
 output-small
 parse_script_chandler.ipynb
'Pesu email ids- Section D Ece.gform'
'Research Lab'
 runs
'Sec D group pic'
"Shreyas b'day"
 Tony_Stark.csv
'Untitled form (Responses).gsheet'

In [48]:
import re
import pandas as pd

In [49]:
pattern = r'([a-zA-Z\s]+):(.+)'

In [50]:
data = {
    'name':[],
    'line':[]
}

In [51]:
with open('Chandler Bing Script.txt','rt') as file:
  for line in file.readlines():
    match = re.findall(pattern,line)
    if match:
      name,line = match[0]
      data['name'].append(name)
      data['line'].append(line)

In [52]:
df=pd.DataFrame(data)

In [53]:
df.head()

       name                                               line
0     Scene   Chandler and Monica's, Chandler is sitting at...
1  Chandler                                          Ohh. Mmm.
2    Rachel   (Comes in the front door and walks towards th...
3  Chandler          Hey, you have got to try this cheesecake.
4    Rachel   Oh, y'know I'm not that much of a sweet tooth...

In [54]:
sum(df['name'] == 'Chandler')

363

In [55]:
len(df)

2470

In [56]:
df.to_csv('Chandler_Bing.csv',index = False)